version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      - POSTGRES_USER=vecinapp
      - POSTGRES_PASSWORD=vecinapp
      - POSTGRES_DB=vecinapp_dev
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: pgadmin@local
      PGADMIN_DEFAULT_PASSWORD: pgadmin
    ports:
      - "8080:80"
